*{
    margin: 2px;
    font-family: 'Courier New', Courier, monospace;
}


h1{
    color: red;
}


/* div > p{
    color: red;
}


div + p{
    color: red;
} */

div ~ p{
    color: red;
}

span:hover{
    color: yellowgreen;
    cursor: pointer;
}

li:nth-child(odd){
    color: blue;
}

input[type="text"]{
    border: 2px solid palevioletred;
}

.article{
    background-color: antiquewhite;
}


.top-header{
    border:2px solid black;
    border-radius: 5px;
    text-align: center;
}


/* 
case study
--> e-commerce
--> navbar
--> cybage logo
--> 3-4 html5 pages(landing page(index), product, registration, contact)
--> index page --> welcome message , large contents
--> product --> list of product
--> registration --> 8-10 input control
--> contact

 

--> application has be to responsive
--> html5 + css3 */